<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pegs and Jokers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    
<h1>Games</h1>

<table>
	<tr>
		<th>GameID</th>
		<th>Status</th>
		<th>View the Game</th>
		<th>Player 1 View</th>
		<th>Player 2 View</th>
		<th>Player 3 View</th>
		<th>Player 4 View</th>
		
	</tr>
	<tr th:each="game : ${games}">
		<td th:text="${game.id}">placeholder game id</td>
		<td th:text="${game.status}">placeholder game status</td>
		<td> <a th:href="@{/mvc/game/{id}(id=${game.id})}">View the Game</a> </td>
		<td> <a th:href="@{/mvc/game/{id}/playerView/1(id=${game.id})}">Player 1 View</a> </td>
		<td> <a th:href="@{/mvc/game/{id}/playerView/2(id=${game.id})}">Player 2 View</a> </td>
		<td> <a th:href="@{/mvc/game/{id}/playerView/3(id=${game.id})}">Player 3 View</a> </td>
		<td> <a th:href="@{/mvc/game/{id}/playerView/4(id=${game.id})}">Player 4 View</a> </td>
	</tr>
</table>
         	
    
</body>
</html>